<!DOCTYPE html>
<html>
<head>
    <title>Vigour In a Smile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="shortcut icon" href="./leaf.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
    <div class="nav_menu" align="left">
        <i class="fas fa-wind"></i>
        <ul>
            <li>Women's hub</li>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs/new">New Post</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</body>
</html>

<!-- <html>
    <head>
        <title>Vigour In a Smile</title>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Blog Site</div> 
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a></div>
            <a href = "/login" class = "item">Login</a>
        </div>   -->
