   
<div class="login_page">   
   <button id="bro" type="submit">Login using Google</button>
    <button id="bro2" type="submit">Login using Facebook</button>
    <button id="bro3" type="submit">Logout</button>
    <input type="email" id="email" name="email">
    <input type="password" id="password" name="password">
    <button id="bro4" type="submit">Login</button>
</div>
<script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>

<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAyr2d2WnEd9omoR-qhK7i_AjfY8Q3-YHc",
        authDomain: "vigour-in-a-smile.firebaseapp.com",
        databaseURL: "https://vigour-in-a-smile.firebaseio.com",
        projectId: "vigour-in-a-smile",
        storageBucket: "",
        messagingSenderId: "1018738069328"
    };
    firebase.initializeApp(config);
    function newLoginHappened(user) {
        if (user)
            console.log(user);
        else {
            var provider = new firebase.auth.GoogleAuthProvider();
            firebase.auth().signInWithPopup(provider);
        }
    }
    
    function newLoginHappenedFB(user) {
            if (user)
                console.log(user);
            else {
                var provider = new firebase.auth.FacebookAuthProvider();
                firebase.auth().signInWithPopup(provider).then(function(result){
                    var token = result.credential.accessToken;
                    var user = result.user;
                  
                });
            }
        }
    
    function login() {
        // event.preventDefault();
        console.log("Le bhai! Chl pda.")
        firebase.auth().onAuthStateChanged(newLoginHappened);
    }
    function loginFB() {
        // event.preventDefault();
        console.log("Le bhai! Chl pda.")
        firebase.auth().onAuthStateChanged(newLoginHappenedFB);
    }
   
    function logout() {
        // event.preventDefault();
        user = "";
        token = "";
        result = "";
                firebase.auth().signOut();
                console.log(user);
    }

    function loginNormal(){
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
                firebase.auth().onAuthStateChanged(function(user){
                    if(user) {
                        console.log(user);
                    }
                    else {
                        // firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error){
                            firebase.auth().createUserWithEmailAndPassword(email, password).catch(function (error) {
                               console.log(error); 
                        })
                    } 
                });

    }

    document.getElementById("bro").addEventListener('click', login);
    document.getElementById("bro2").addEventListener('click', loginFB);
    document.getElementById("bro4").addEventListener('click', loginNormal);
    document.getElementById("bro3").addEventListener('click', logout);
</script>