<button id="bro">Login using Google</button>
<button id="bro2">Login using Facebook</button>
<button id="bro3">Logout</button>
<input type="email" id = "email">
<input type="password" id = "password">
<h1 id = "abc"></h1>
<script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>

<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAyr2d2WnEd9omoR-qhK7i_AjfY8Q3-YHc",
        authDomain: "vigour-in-a-smile.firebaseapp.com",
        databaseURL: "https://vigour-in-a-smile.firebaseio.com",
        projectId: "vigour-in-a-smile",
        storageBucket: "",
        messagingSenderId: "1018738069328"
    };
    firebase.initializeApp(config);
    function newLoginHappened(user) {
        if (user)
            console.log(user);
        else {
            var provider = new firebase.auth.GoogleAuthProvider();
            firebase.auth().signInWithPopup(provider);
        }
    }
    
    function newLoginHappenedFB(user) {
            if (user)
                console.log(user);
            else {
                var provider = new firebase.auth.FacebookAuthProvider();
                firebase.auth().signInWithPopup(provider).then(function(result){
                    var token = result.credential.accessToken;
                    var user = result.user;
                  
                });
            }
        }
    
    function login() {
        // event.preventDefault();
        console.log("Le bhai! Chl pda.")
        firebase.auth().onAuthStateChanged(newLoginHappened);
    }
    function loginFB() {
        // event.preventDefault();
        console.log("Le bhai! Chl pda.")
        firebase.auth().onAuthStateChanged(newLoginHappenedFB);
    }
   
    function logout() {
        // event.preventDefault();
        user = "";
        token = "";
        result = "";
                firebase.auth().signOut();
                console.log(user);
    }

    document.getElementById("bro").addEventListener('click', login);
    document.getElementById("bro2").addEventListener('click', loginFB);
    document.getElementById("bro3").addEventListener('click', logout);
</script>